@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body {
  height: 100%;
  width: 100%;
   font-family: "Lato", sans-serif;
}

.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row {
  margin: 8px 0;
}

.row input{
  width: 290px;
  font-size: 18.5px;
  margin-top: 45px;
  padding: 10px 0;
  border: 2px solid black;
  border-radius: 5px;
  
}
section{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
  gap: -12px;
  min-height: 100vh;
  background: #2b657d;
  
}


.container{
  width: 380px;
  background-image: linear-gradient(to top right, blue, red);
  border-radius: 18px;
}
